/* src/components/ClientSearch/ClientSearch.css */
@import '../../variables.css';


.client-search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s;
}

.search-input:focus {
    border-color: #3498db;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
}

.dropdown-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    z-index: 100; /* Garante que fique por cima de tudo */
    max-height: 300px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
}

.result-item {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover, .result-item.active {
    background-color: #f0f8ff;
}

.item-name {
    font-weight: 600;
    color: #2c3e50;
    display: block;
}

.item-doc {
    font-size: 12px;
    color: #7f8c8d;
    background: #ecf0f1;
    padding: 4px 8px;
    border-radius: 4px;
}

.result-item.no-result {
    cursor: default;
    background-color: #f8f9fa;
    text-align: center;
    padding: 15px;
    border-bottom: none;
}

.result-item.no-result:hover {
    background-color: #f8f9fa;
}

.texto-sem-resultado {
    color: var(--texto-neutro);
    font-style: italic;
}

.texto-acao-cadastro {
    color: var(--texto-primario);
    margin-left: 5px;
}