.ilha-principal {
  flex: 1;
  background: var(--cor-superficie);
  padding: 0;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.03);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.workspace {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}